In [1]:
import sys
import os
import yaml

sys.path.append(os.getenv("CODE_PATH"))
sys.path.append(os.getenv("FIN_DATABASE_PATH"))


import plotly.graph_objects as go
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import logging
import matplotlib.pyplot as plt
from dotenv import load_dotenv
import ta
from log_config import setup_logging
from Data.connect import engine, DailyStockData, HourlyStockData, OneMinuteStockData, FiveMinuteStockData,FifteenMinuteStockData, StockSplits, StockNews, CompanyFinancials
from Pre_Processing.pre_processing import PreProcessing
from Feature_Engineering.feature_engineering import TechnicalIndicators
from pipeline import Pipeline

from sklearn.metrics import roc_auc_score, roc_curve, auc

from xgboost import XGBClassifier
from catboost import CatBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score, roc_curve, auc, log_loss, confusion_matrix, ConfusionMatrixDisplay

In [2]:
wiki = 'http://en.wikipedia.org/wiki'
djia_ticker_list = wiki + '/Dow_Jones_Industrial_Average'
sp500_tickers_list = wiki + '/List_of_S%26P_500_companies'
tickersSP500 = pd.read_html(sp500_tickers_list)[0].Symbol.to_list()
djia_tickers = pd.read_html(djia_ticker_list)[1].Symbol.to_list()

In [3]:
pipe = Pipeline(djia_tickers)

In [4]:
a = pipe.pipeline()['AAPL']

In [10]:
data = pipe.pipeline()

In [11]:
data

{'MMM':                 id       date      timestamp ticker      open      high  \
 date
 2003-09-10   35531 2003-09-10  1063166400000    MMM   57.4457   57.6505
 2003-09-11  190611 2003-09-11  1063252800000    MMM   57.1363   58.3738
 2003-09-12  190612 2003-09-12  1063339200000    MMM   57.8387   58.2107
 2003-09-15  190613 2003-09-15  1063598400000    MMM   57.9223   58.1564
 2003-09-16  190614 2003-09-16  1063684800000    MMM   57.9766   58.8629
 ...            ...        ...            ...    ...       ...       ...
 2024-08-05  195870 2024-08-05  1722830400000    MMM  119.5700  125.3154
 2024-08-06  195871 2024-08-06  1722916800000    MMM  123.3600  126.1300
 2024-08-07  195872 2024-08-07  1723003200000    MMM  125.3900  126.5700
 2024-08-08  195873 2024-08-08  1723089600000    MMM  122.4500  125.7400
 2024-08-09  195874 2024-08-09  1723176000000    MMM  124.6400  124.6400

                  low     close     volume      vwap  ...      ema_50  \
 date                                                 ...
 2003-09-10   56.9858   57.1070  4675642.4   57.2454  ...         NaN
 2003-09-11   57.1363   58.0644  5067452.0   58.0316  ...         NaN
 2003-09-12   57.5878   57.7885  5220061.6   57.8624  ...         NaN
 2003-09-15   57.4666   57.8721  4280962.4   57.8385  ...         NaN
 2003-09-16   57.9641   58.8629  3885804.0   58.4185  ...         NaN
 ...              ...       ...        ...       ...  ...         ...
 2024-08-05  119.3100  124.6100  6474389.0  123.4986  ...  106.951555
 2024-08-06  122.7200  124.8900  4165972.0  124.7083  ...  107.655023
 2024-08-07  122.6900  122.8300  3352632.0  124.1182  ...  108.250120
 2024-08-08  122.1800  125.1300  2860665.0  124.8674  ...  108.912076
 2024-08-09  123.3350  124.1700  3222466.0  124.0431  ...  109.510426

                sma_100     ema_100    sma_200    ema_200    sma_300  \
 date
 2003-09-10         NaN         NaN        NaN        NaN        NaN
 2003-09-11         NaN         NaN        NaN        NaN        NaN
 2003-09-12         NaN         NaN        NaN        NaN        NaN
 2003-09-15         NaN         NaN        NaN        NaN        NaN
 2003-09-16         NaN         NaN        NaN        NaN        NaN
 ...                ...         ...        ...        ...        ...
 2024-08-05   99.300172  100.682403  90.456063  95.142688  88.271824
 2024-08-06   99.678921  101.161761  90.710949  95.438682  88.417639
 2024-08-07  100.045014  101.590835  90.961135  95.711232  88.556894
 2024-08-08  100.418388  102.056957  91.224955  96.003956  88.706269
 2024-08-09  100.783834  102.494839  91.487945  96.284215  88.860107

               ema_300  day  month  day_of_week
 date
 2003-09-10        NaN   10      9            2
 2003-09-11        NaN   11      9            3
 2003-09-12        NaN   12      9            4
 2003-09-15        NaN   15      9            0
 2003-09-16        NaN   16      9            1
 ...               ...  ...    ...          ...
 2024-08-05  94.328695    5      8            0
 2024-08-06  94.531760    6      8            1
 2024-08-07  94.719789    7      8            2
 2024-08-08  94.921850    8      8            3
 2024-08-09  95.116190    9      8            4

 [5265 rows x 43 columns],
 'AXP':                 id       date      timestamp ticker    open     high  \
 date
 2003-09-10  195875 2003-09-10  1063166400000    AXP   45.52   45.690
 2003-09-11  195876 2003-09-11  1063252800000    AXP   45.25   45.830
 2003-09-12  195877 2003-09-12  1063339200000    AXP   45.20   45.400
 2003-09-15  195878 2003-09-15  1063598400000    AXP   44.85   45.090
 2003-09-16  195879 2003-09-16  1063684800000    AXP   44.69   45.340
 ...            ...        ...            ...    ...     ...      ...
 2024-08-05  201135 2024-08-05  1722830400000    AXP  226.64  230.775
 2024-08-06  201136 2024-08-06  1722916800000    AXP  226.96  233.180
 2024-08-07  201137 2024-08-07  1723003200000    AXP  234.02  236.170
 2024-08-08  201138 2024-08-08  1723089600000    AXP  231.05  234.500
 2024-08-09  201139 2024-08-09  1723176000000    AXP  233.52  238.340

                  low   close     volume      vwap  ...      ema_50   sma_100  \
 date                                               ...
 2003-09-10   44.9000   45.05  3619400.0   45.3662  ...         NaN       NaN
 2003-09-11   45.2500   45.43  3435200.0   45.5727  ...         NaN       NaN
 2003-09-12   44.5700   44.90  4981000.0   44.9096  ...         NaN       NaN
 2003-09-15   44.6400   44.64  3540000.0   44.9150  ...         NaN       NaN
 2003-09-16   44.6900   45.25  4682500.0   44.9822  ...         NaN       NaN
 ...              ...     ...        ...       ...  ...         ...       ...
 2024-08-05  222.0300  225.92  4772151.0  227.1003  ...  237.965217  233.2738
 2024-08-06  226.5000  231.12  3039810.0  231.1337  ...  237.696777  233.3569
 2024-08-07  228.5102  228.80  2572441.0  231.0375  ...  237.347884  233.4402
 2024-08-08  231.0100  233.54  2175334.0  233.5323  ...  237.198555  233.5910
 2024-08-09  233.0900  237.85  1944480.0  237.0514  ...  237.224102  233.7598

                ema_100    sma_200     ema_200     sma_300     ema_300  day  \
 date
 2003-09-10         NaN        NaN         NaN         NaN         NaN   10
 2003-09-11         NaN        NaN         NaN         NaN         NaN   11
 2003-09-12         NaN        NaN         NaN         NaN         NaN   12
 2003-09-15         NaN        NaN         NaN         NaN         NaN   15
 2003-09-16         NaN        NaN         NaN         NaN         NaN   16
 ...                ...        ...         ...         ...         ...  ...
 2024-08-05  230.208170  208.12800  214.304089  193.109467  203.082408    5
 2024-08-06  230.226226  208.52595  214.471411  193.376267  203.268705    6
 2024-08-07  230.197984  208.92185  214.613984  193.614800  203.438348    7
 2024-08-08  230.264163  209.38170  214.802303  193.866567  203.638359    8
 2024-08-09  230.414377  209.84800  215.031633  194.130867  203.865679    9

             month  day_of_week
 date
 2003-09-10      9            2
 2003-09-11      9            3
 2003-09-12      9            4
 2003-09-15      9            0
 2003-09-16      9            1
 ...           ...          ...
 2024-08-05      8            0
 2024-08-06      8            1
 2024-08-07      8            2
 2024-08-08      8            3
 2024-08-09      8            4

 [5265 rows x 43 columns],
 'AMGN':                 id       date      timestamp ticker    open     high      low  \
 date
 2003-09-10  201140 2003-09-10  1063166400000   AMGN   67.25   68.140   66.880
 2003-09-11  201141 2003-09-11  1063252800000   AMGN   67.36   68.430   67.040
 2003-09-12  201142 2003-09-12  1063339200000   AMGN   68.11   68.720   67.360
 2003-09-15  201143 2003-09-15  1063598400000   AMGN   68.54   69.003   68.270
 2003-09-16  201144 2003-09-16  1063684800000   AMGN   68.75   69.840   68.540
 ...            ...        ...            ...    ...     ...      ...      ...
 2024-08-05  206400 2024-08-05  1722830400000   AMGN  332.72  333.340  321.410
 2024-08-06  206401 2024-08-06  1722916800000   AMGN  325.23  332.980  323.520
 2024-08-07  206402 2024-08-07  1723003200000   AMGN  320.99  323.000  306.590
 2024-08-08  206403 2024-08-08  1723089600000   AMGN  314.00  325.120  312.790
 2024-08-09  206404 2024-08-09  1723176000000   AMGN  323.75  325.040  319.325

              close     volume      vwap  ...      ema_50   sma_100  \
 date                                     ...
 2003-09-10   66.99  7302682.0   67.4818  ...         NaN       NaN
 2003-09-11   68.25  7227092.0   67.8457  ...         NaN       NaN
 2003-09-12   68.52  6208127.0   67.9628  ...         NaN       NaN
 2003-09-15   68.50  5492530.0   68.7739  ...         NaN       NaN
 2003-09-16   69.81  6925656.0   69.3316  ...         NaN       NaN
 ...            ...        ...       ...  ...         ...       ...
 2024-08-05  325.22  2869465.0  325.9374  ...  318.748788  300.0167
 2024-08-06  328.95  2270158.0  329.2397  ...  319.148836  300.5463
 2024-08-07  312.50  4529268.0  312.3115  ...  318.888097  300.9559
 2024-08-08  324.69  2663742.0  321.4543  ...  319.115623  301.5141
 2024-08-09  322.49  1728899.0  322.2251  ...  319.247951  302.0300

                ema_100    sma_200     ema_200     sma_300     ema_300  day  \
 date
 2003-09-10         NaN        NaN         NaN         NaN         NaN   10
 2003-09-11         NaN        NaN         NaN         NaN         NaN   11
 2003-09-12         NaN        NaN         NaN         NaN         NaN   12
 2003-09-15         NaN        NaN         NaN         NaN         NaN   15
 2003-09-16         NaN        NaN         NaN         NaN         NaN   16
 ...                ...        ...         ...         ...         ...  ...
 2024-08-05  307.405688  292.02880  293.596913  276.579200  284.315384    5
 2024-08-06  307.832308  292.25565  293.948685  276.950833  284.611960    6
 2024-08-07  307.924738  292.41515  294.133275  277.269400  284.797262    7
 2024-08-08  308.256723  292.64455  294.437322  277.623267  285.062330    8
 2024-08-09  308.538570  292.89170  294.716453  277.962733  285.311019    9

             month  day_of_week
 date
 2003-09-10      9            2
 2003-09-11      9            3
 2003-09-12      9            4
 2003-09-15      9            0
 2003-09-16      9            1
 ...           ...          ...
 2024-08-05      8            0
 2024-08-06      8            1
 2024-08-07      8            2
 2024-08-08      8            3
 2024-08-09      8            4

 [5265 rows x 43 columns],
 'AMZN':                 id       date      timestamp ticker      open      high  \
 date
 2003-09-10  206405 2003-09-10  1063166400000   AMZN    2.3130    2.3615
 2003-09-11  206406 2003-09-11  1063252800000   AMZN    2.3100    2.3175
 2003-09-12  206407 2003-09-12  1063339200000   AMZN    2.2425    2.2891
 2003-09-15  206408 2003-09-15  1063598400000   AMZN    2.2680    2.2885
 2003-09-16  206409 2003-09-16  1063684800000   AMZN    2.2700    2.3125
 ...            ...        ...            ...    ...       ...       ...
 2024-08-05  211665 2024-08-05  1722830400000   AMZN  154.2100  162.9600
 2024-08-06  211666 2024-08-06  1722916800000   AMZN  161.7100  165.0800
 2024-08-07  211667 2024-08-07  1723003200000   AMZN  166.5500  167.5800
 2024-08-08  211668 2024-08-08  1723089600000   AMZN  165.1650  166.6899
 2024-08-09  211669 2024-08-09  1723176000000   AMZN  166.4000  168.5500

                  low     close       volume      vwap  ...      ema_50  \
 date                                                   ...
 2003-09-10    2.3030    2.3110  160193680.0    2.3317  ...         NaN
 2003-09-11    2.2385    2.2595  231786700.0    2.2644  ...         NaN
 2003-09-12    2.2365    2.2840  135450000.0    2.2627  ...         NaN
 2003-09-15    2.2615    2.2755   88525540.0    2.2742  ...         NaN
 2003-09-16    2.2525    2.3120  155410080.0    2.2795  ...         NaN
 ...              ...       ...          ...       ...  ...         ...
 2024-08-05  151.6100  161.0200   83034913.0  159.7709  ...  184.921697
 2024-08-06  158.5404  161.9300   56863712.0  162.3092  ...  184.020061
 2024-08-07  161.4300  162.7700   46791927.0  164.4221  ...  183.186726
 2024-08-08  162.5500  165.8000   43716382.0  165.2017  ...  182.504893
 2024-08-09  165.8500  166.9400   35295656.0  167.0053  ...  181.894505

               sma_100     ema_100     sma_200     ema_200     sma_300  \
 date
 2003-09-10        NaN         NaN         NaN         NaN         NaN
 2003-09-11        NaN         NaN         NaN         NaN         NaN
 2003-09-12        NaN         NaN         NaN         NaN         NaN
 2003-09-15        NaN         NaN         NaN         NaN         NaN
 2003-09-16        NaN         NaN         NaN         NaN         NaN
 ...               ...         ...         ...         ...         ...
 2024-08-05  184.07105  181.281592  168.682275  169.974702  156.201050
 2024-08-06  183.92480  180.898392  168.851275  169.894655  156.357483
 2024-08-07  183.76500  180.539414  169.023125  169.823763  156.499683
 2024-08-08  183.67880  180.247545  169.226275  169.783726  156.646817
 2024-08-09  183.60340  179.984029  169.428175  169.755430  156.801350

                ema_300  day  month  day_of_week
 date
 2003-09-10         NaN   10      9            2
 2003-09-11         NaN   11      9            3
 2003-09-12         NaN   12      9            4
 2003-09-15         NaN   15      9            0
 2003-09-16         NaN   16      9            1
 ...                ...  ...    ...          ...
 2024-08-05  161.048659    5      8            0
 2024-08-06  161.054515    6      8            1
 2024-08-07  161.065913    7      8            2
 2024-08-08  161.097369    8      8            3
 2024-08-09  161.136190    9      8            4

 [5265 rows x 43 columns],
 'AAPL':                 id       date      timestamp ticker      open      high  \
 date
 2003-09-10  211670 2003-09-10  1063166400000   AAPL    0.3973    0.4038
 2003-09-11  211671 2003-09-11  1063252800000   AAPL    0.3973    0.4070
 2003-09-12  211672 2003-09-12  1063339200000   AAPL    0.4019    0.4132
 2003-09-15  211673 2003-09-15  1063598400000   AAPL    0.4073    0.4090
 2003-09-16  211674 2003-09-16  1063684800000   AAPL    0.3966    0.4053
 ...            ...        ...            ...    ...       ...       ...
 2024-08-05  216930 2024-08-05  1722830400000   AAPL  199.0900  213.5000
 2024-08-06  216931 2024-08-06  1722916800000   AAPL  205.3000  209.9900
 2024-08-07  216932 2024-08-07  1723003200000   AAPL  206.9000  213.6400
 2024-08-08  216933 2024-08-08  1723089600000   AAPL  213.1100  214.2000
 2024-08-09  216934 2024-08-09  1723176000000   AAPL  212.1000  216.7800

                  low     close       volume      vwap  ...      ema_50  \
 date                                                   ...
 2003-09-10    0.3948    0.3961  224893256.0    0.3988  ...         NaN
 2003-09-11    0.3947    0.4029  209294848.0    0.4017  ...         NaN
 2003-09-12    0.3984    0.4125  180005112.0    0.4057  ...         NaN
 2003-09-15    0.3950    0.3966  226843064.0    0.4011  ...         NaN
 2003-09-16    0.3965    0.3993  269379264.0    0.4009  ...         NaN
 ...              ...       ...          ...       ...  ...         ...
 2024-08-05  196.0000  209.2700  119382508.0  207.8010  ...  212.568173
 2024-08-06  201.0700  207.2300   69545387.0  206.7390  ...  212.358833
 2024-08-07  206.3900  209.8200   60109650.0  210.7375  ...  212.259271
 2024-08-08  208.8300  213.3100   45466136.0  212.5961  ...  212.300476
 2024-08-09  211.9700  216.2400   40764531.0  215.1632  ...  212.454967

              sma_100     ema_100    sma_200     ema_200     sma_300  \
 date
 2003-09-10       NaN         NaN        NaN         NaN         NaN
 2003-09-11       NaN         NaN        NaN         NaN         NaN
 2003-09-12       NaN         NaN        NaN         NaN         NaN
 2003-09-15       NaN         NaN        NaN         NaN         NaN
 2003-09-16       NaN         NaN        NaN         NaN         NaN
 ...              ...         ...        ...         ...         ...
 2024-08-05  194.1147  202.343460  189.68215  192.667519  187.291250
 2024-08-06  194.4757  202.440223  189.83910  192.812419  187.405383
 2024-08-07  194.8439  202.586357  190.01090  192.981649  187.520017
 2024-08-08  195.2508  202.798707  190.21305  193.183921  187.640050
 2024-08-09  195.6760  203.064871  190.42925  193.413335  187.770017

                ema_300  day  month  day_of_week
 date
 2003-09-10         NaN   10      9            2
 2003-09-11         NaN   11      9            3
 2003-09-12         NaN   12      9            4
 2003-09-15         NaN   15      9            0
 2003-09-16         NaN   16      9            1
 ...                ...  ...    ...          ...
 2024-08-05  186.625268    5      8            0
 2024-08-06  186.762176    6      8            1
 2024-08-07  186.915384    7      8            2
 2024-08-08  187.090764    8      8            3
 2024-08-09  187.284446    9      8            4

 [5265 rows x 43 columns],
 'BA':                 id       date      timestamp ticker    open    high     low  \
 date
 2003-09-10  216935 2003-09-10  1063166400000     BA   36.18   36.49   35.33
 2003-09-11  216936 2003-09-11  1063252800000     BA   35.62   36.10   35.11
 2003-09-12  216937 2003-09-12  1063339200000     BA   35.72   36.00   35.47
 2003-09-15  216938 2003-09-15  1063598400000     BA   35.41   35.67   35.21
 2003-09-16  216939 2003-09-16  1063684800000     BA   35.48   35.95   35.48
 ...            ...        ...            ...    ...     ...     ...     ...
 2024-08-05  222195 2024-08-05  1722830400000     BA  162.52  167.68  162.50
 2024-08-06  222196 2024-08-06  1722916800000     BA  168.89  169.19  163.39
 2024-08-07  222197 2024-08-07  1723003200000     BA  167.00  167.98  162.99
 2024-08-08  222198 2024-08-08  1723089600000     BA  164.23  169.35  164.00
 2024-08-09  222199 2024-08-09  1723176000000     BA  168.39  169.85  166.90

              close     volume      vwap  ...      ema_50   sma_100  \
 date                                     ...
 2003-09-10   35.62  4058000.0   35.8444  ...         NaN       NaN
 2003-09-11   35.72  3924900.0   35.6706  ...         NaN       NaN
 2003-09-12   35.66  3470300.0   35.6988  ...         NaN       NaN
 2003-09-15   35.50  2238400.0   35.4829  ...         NaN       NaN
 2003-09-16   35.81  3047000.0   35.7510  ...         NaN       NaN
 ...            ...        ...       ...  ...         ...       ...
 2024-08-05  167.03  9159122.0  165.6133  ...  181.685695  180.2962
 2024-08-06  165.04  5709605.0  165.6657  ...  181.032923  180.1231
 2024-08-07  163.24  4940266.0  164.8621  ...  180.335161  179.9440
 2024-08-08  168.87  6007838.0  167.6934  ...  179.885547  179.8074
 2024-08-09  167.91  3502235.0  167.8804  ...  179.415918  179.6881

                ema_100    sma_200     ema_200     sma_300     ema_300  day  \
 date
 2003-09-10         NaN        NaN         NaN         NaN         NaN   10
 2003-09-11         NaN        NaN         NaN         NaN         NaN   11
 2003-09-12         NaN        NaN         NaN         NaN         NaN   12
 2003-09-15         NaN        NaN         NaN         NaN         NaN   15
 2003-09-16         NaN        NaN         NaN         NaN         NaN   16
 ...                ...        ...         ...         ...         ...  ...
 2024-08-05  185.071619  197.70315  191.660406  202.894900  194.343437    5
 2024-08-06  184.674954  197.59990  191.395526  202.775467  194.148730    6
 2024-08-07  184.250499  197.50215  191.115372  202.640833  193.943356    7
 2024-08-08  183.945935  197.44630  190.894025  202.521433  193.776756    8
 2024-08-09  183.628392  197.38070  190.665328  202.395467  193.604884    9

             month  day_of_week
 date
 2003-09-10      9            2
 2003-09-11      9            3
 2003-09-12      9            4
 2003-09-15      9            0
 2003-09-16      9            1
 ...           ...          ...
 2024-08-05      8            0
 2024-08-06      8            1
 2024-08-07      8            2
 2024-08-08      8            3
 2024-08-09      8            4

 [5265 rows x 43 columns],
 'CAT':                 id       date      timestamp ticker     open      high  \
 date
 2003-09-10  222200 2003-09-10  1063166400000    CAT   34.525   34.5750
 2003-09-11  222201 2003-09-11  1063252800000    CAT   34.500   34.5450
 2003-09-12  222202 2003-09-12  1063339200000    CAT   33.875   34.1000
 2003-09-15  222203 2003-09-15  1063598400000    CAT   34.140   34.7300
 2003-09-16  222204 2003-09-16  1063684800000    CAT   34.515   34.8950
 ...            ...        ...            ...    ...      ...       ...
 2024-08-05  227460 2024-08-05  1722830400000    CAT  309.000  320.5800

In [13]:
combined_df = pd.concat(
    [df.assign(ticker=ticker) for ticker, df in data.items()],
    axis=0
)

# Optionally, you can reset the index if needed
combined_df.reset_index(drop=True, inplace=True)

# Set the index names as 'date' and 'ticker'
combined_df.set_index(['date', 'ticker'], inplace=True)

# Lowercase all column names
combined_df.columns = combined_df.columns.str.lower()

# Display the combined DataFrame
combined_df

,,id,timestamp,open,high,low,close,volume,vwap,transactions,rsi_14,...,ema_50,sma_100,ema_100,sma_200,ema_200,sma_300,ema_300,day,month,day_of_week
date,ticker,,,,,,,,,,,,,,,,,,,,,
2003-09-10,MMM,35531,1063166400000,57.4457,57.6505,56.9858,57.1070,4675642.4,57.2454,3656,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,9,2
2003-09-11,MMM,190611,1063252800000,57.1363,58.3738,57.1363,58.0644,5067452.0,58.0316,3995,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,9,3
2003-09-12,MMM,190612,1063339200000,57.8387,58.2107,57.5878,57.7885,5220061.6,57.8624,3930,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,9,4
2003-09-15,MMM,190613,1063598400000,57.9223,58.1564,57.4666,57.8721,4280962.4,57.8385,3678,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,9,0
2003-09-16,MMM,190614,1063684800000,57.9766,58.8629,57.9641,58.8629,3885804.0,58.4185,3353,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,9,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-05,WMT,346684,1722830400000,68.1000,68.5800,66.9100,67.5900,20532419.0,67.4661,195503,40.339044,...,67.745380,64.3732,64.962920,59.472500,61.113797,57.179824,58.595099,5,8,0
2024-08-06,WMT,346685,1722916800000,67.8400,68.6300,67.6800,67.7400,14511713.0,68.1010,123990,41.529132,...,67.745169,64.4378,65.017912,59.541967,61.179729,57.243224,58.655862,6,8,1
2024-08-07,WMT,346686,1723003200000,67.8700,68.0100,66.8100,66.9100,17910124.0,67.2792,143908,37.117138,...,67.712417,64.4967,65.055379,59.608567,61.236747,57.303569,58.710707,7,8,2
2024-08-08,WMT,346687,1723089600000,66.8400,67.9199,66.6700,67.6600,11938585.0,67.5567,113315,43.009045,...,67.710362,64.5665,65.106956,59.682267,61.300660,57.366813,58.770171,8,8,3
2024-08-09,WMT,346688,1723176000000,67.8500,68.2200,67.3300,67.9500,12959879.0,67.8626,109903,45.149118,...,67.719759,64.6374,65.163253,59.753667,61.366822,57.430124,58.831166,9,8,4

In [15]:
combined_df = pd.concat(
    [df.assign(ticker=ticker).set_index('ticker', append=True) for ticker, df in data.items()]
)

combined_df = combined_df.reorder_levels(['date', 'ticker'])
combined_df.columns = combined_df.columns.str.lower()
combined_df.sort_index(inplace=True)
combined_df

                       id       date      timestamp      open      high  \
date       ticker
2003-09-10 AAPL    211670 2003-09-10  1063166400000    0.3973    0.4038
           AMGN    201140 2003-09-10  1063166400000   67.2500   68.1400
           AMZN    206405 2003-09-10  1063166400000    2.3130    2.3615
           AXP     195875 2003-09-10  1063166400000   45.5200   45.6900
           BA      216935 2003-09-10  1063166400000   36.1800   36.4900
...                   ...        ...            ...       ...       ...
2024-08-09 TRV     326035 2024-08-09  1723176000000  211.9900  212.6100
           UNH     331300 2024-08-09  1723176000000  564.5400  565.9300
           V       341423 2024-08-09  1723176000000  259.1700  261.5200
           VZ      336565 2024-08-09  1723176000000   40.4900   40.8000
           WMT     346688 2024-08-09  1723176000000   67.8500   68.2200

                        low     close       volume      vwap  transactions  \
date       ticker
2003-09-10 AAPL      0.3948    0.3961  224893256.0    0.3988         10152
           AMGN     66.8800   66.9900    7302682.0   67.4818         21885
           AMZN      2.3030    2.3110  160193680.0    2.3317         24593
           AXP      44.9000   45.0500    3619400.0   45.3662          4472
           BA       35.3300   35.6200    4058000.0   35.8444          4776
...                     ...       ...          ...       ...           ...
2024-08-09 TRV     209.8900  212.4800     963916.0  211.9353         18284
           UNH     557.6300  558.7600    2864613.0  560.3721         70237
           V       259.0100  259.7600    7154274.0  260.1813         93436
           VZ       40.0300   40.7500    9529207.0   40.6122         73311
           WMT      67.3300   67.9500   12959879.0   67.8626        109903

                   ...      ema_50   sma_100     ema_100     sma_200  \
date       ticker  ...
2003-09-10 AAPL    ...         NaN       NaN         NaN         NaN
           AMGN    ...         NaN       NaN         NaN         NaN
           AMZN    ...         NaN       NaN         NaN         NaN
           AXP     ...         NaN       NaN         NaN         NaN
           BA      ...         NaN       NaN         NaN         NaN
...                ...         ...       ...         ...         ...
2024-08-09 TRV     ...  211.263416  214.4693  210.631456  204.819150
           UNH     ...  534.082387  505.6354  519.639264  514.166100
           V       ...  266.339551  271.9036  268.427221  267.656650
           VZ      ...   40.523580   40.4687   40.261731   39.538050
           WMT     ...   67.719759   64.6374   65.163253   59.753667

                      ema_200     sma_300     ema_300  day  month  day_of_week
date       ticker
2003-09-10 AAPL           NaN         NaN         NaN   10      9            2
           AMGN           NaN         NaN         NaN   10      9            2
           AMZN           NaN         NaN         NaN   10      9            2
           AXP            NaN         NaN         NaN   10      9            2
           BA             NaN         NaN         NaN   10      9            2
...                       ...         ...         ...  ...    ...          ...
2024-08-09 TRV     204.499439  192.523800  198.606524    9      8            4
           UNH     512.253386  507.843500  508.591919    9      8            4
           V       264.259281  257.361667  257.979902    9      8            4
           VZ       39.539018   37.636133   39.430052    9      8            4
           WMT      61.366822   57.430124   58.831166    9      8            4

[156079 rows x 42 columns]

In [ ]:
prices.groupby(level='ticker').close.apply(RSI)

In [ ]:
data = pipe.pipeline(timespan = 'hour')

In [ ]:
apple_data = data['AAPL']

In [ ]:
fig = go.Figure(data = go.Candlestick(x = apple_data.index,
                                      open = apple_data['open'],
                                      high = apple_data['high'],
                                      low = apple_data['low'],
                                      close = apple_data['close'],
                                      increasing=dict(line=dict(color='black')),
                                      decreasing=dict(line=dict(color='red')),
                                      showlegend=False))

layout = go.Layout(
    title=' Apple Stock Price - 2003 to 2024',
    yaxis=dict(title='Price (USD)'),
    xaxis=dict(title='Date'),
    template = 'ggplot2',
    xaxis_rangeslider_visible=False,
    yaxis_gridcolor='white',
    xaxis_gridcolor='white',
    yaxis_tickfont=dict(color='black'),
    xaxis_tickfont=dict(color='black'),
    margin=dict(t=50,l=50,r=50,b=50)
)

fig.update_layout(layout)


fig.show()

In [ ]:
fig = go.Figure()

fig.add_trace(go.Scatter(x = apple_data.index,
                         y = apple_data['return'].dropna(),
                         mode = 'lines',
                         line = dict(color = 'blue'),
                         name = 'Returns'))


layout = go.Layout(
    title=' Apple Stock Returns - 2003 to 2024',
    yaxis=dict(title='Returns (%)'),
    xaxis=dict(title='Date'),
    template='ggplot2',
    xaxis_rangeslider_visible=False,
    yaxis_gridcolor='white',
    xaxis_gridcolor='white',
    yaxis_tickfont=dict(color='black'),
    xaxis_tickfont=dict(color='black'),
    margin=dict(t=50, l=50, r=50, b=50)
)

fig.update_layout(layout)

fig.show()

In [ ]:
import plotly.figure_factory as ff

# Plot the distribution (Histogram + KDE)
fig = ff.create_distplot([apple_data['return'].dropna()], ['Returns'], bin_size=0.001, show_rug=False)

# Updating the layout
fig.update_layout(
    title='Distribution of Apple Stock Returns',
    xaxis_title='Returns',
    yaxis_title='Density',
    template='ggplot2',
    margin=dict(t=50, l=50, r=50, b=50)
)

fig.show()

In [ ]:
import scipy.stats as stats

# QQ plot
plt.figure(figsize=(8, 6))
stats.probplot(apple_data['return'].dropna(), dist="norm", plot=plt)
plt.title('QQ Plot of Apple Stock Returns')
plt.show()

In [ ]:
apple_data['target'] = np.where(apple_data['log_ret'] > 0,1,
                                0)

In [ ]:
apple_data['target'] = apple_data['target'].shift(-1)

In [ ]:
apple_data = apple_data.dropna()

In [ ]:
features = [ 'date', 'timestamp', 'open', 'high', 'low', 'close',
       'volume', 'vwap', 'transactions', 'RSI_14', 'RSI_2', 'MACD', 'log_ret',
       'ROC', 'Stoch', 'ADX', 'ADX_pos', 'ADX_neg', 'rolling_H-L_25',
       'lower_band', 'ATR', 'IBS', 'OBV', 'ema_5', 'ema_10',
        'ema_30', 'ema_50', 'ema_100',
       'ema_200', 'ema_300']

In [ ]:
#Normal CV 
train_test_split = 0.7
train_idx = int(len(apple_data) * train_test_split)

train_data = apple_data.iloc[:train_idx]
test_data = apple_data.iloc[train_idx:]

In [ ]:
X_train = train_data.drop(columns = ['id', 'date', 'timestamp',
                          'ticker', 'target', 'return'])

y_train = train_data['target']
X_test = test_data.drop(columns = ['id', 'date', 'timestamp',
                          'ticker', 'target', 'return'])
y_test = test_data['target']

In [ ]:
xgboost = XGBClassifier()

In [ ]:
xgboost.fit(X_train,y_train)

In [ ]:
y_pred = xgboost.predict_proba(X_test)[:, 1]

In [ ]:
roc_auc = roc_auc_score(y_test, y_pred)
log_loss_value = log_loss(y_test, y_pred)

In [ ]:
log_loss_value

In [ ]:
roc_auc

In [ ]:
plt.figure(figsize=(10, 10))
for name, model in models:
    model.fit(X_train, y_train)
    y_pred_proba = model.predict_proba(X_test)[:, 1] 
    y_pred = model.predict(X_test) 
    
    # Metrics
    roc_auc = roc_auc_score(y_test, y_pred_proba)
    log_loss_value = log_loss(y_test, y_pred_proba)

    print(f'{name} ROC AUC: {roc_auc}')
    print(f'{name} Log Loss: {log_loss_value}')
    
    # ROC curve
    fpr, tpr, _ = roc_curve(y_test, y_pred_proba)
    
    #CM
    cm = confusion_matrix(y_test, y_pred)
    disp = ConfusionMatrixDisplay(confusion_matrix=cm)
    disp.plot(cmap=plt.cm.Blues)
    plt.title(f'{name} Confusion Matrix')
    plt.show()

In [ ]:
web.DataReader('F-F_Research_Data_5_Factors_2x3',
                               'famafrench',
                               start='2010')[0].drop('RF', axis=1)

In [ ]:
import pandas_datareader.data as web

In [ ]:
models = [
    ("XGBoost", XGBClassifier()),
    ("CatBoost", CatBoostClassifier(verbose=False)),
    ("RandomForest", RandomForestClassifier())
]

In [ ]:
plt.figure(figsize=(10, 10))
for name, model in models:
    model.fit(X_train, y_train)
    y_pred_proba = model.predict_proba(X_test)[:, 1] 
    y_pred = model.predict(X_test) 
    
    # Metrics
    roc_auc = roc_auc_score(y_test, y_pred_proba)
    log_loss_value = log_loss(y_test, y_pred_proba)

    print(f'{name} ROC AUC: {roc_auc}')
    print(f'{name} Log Loss: {log_loss_value}')
    
    # ROC curve
    fpr, tpr, _ = roc_curve(y_test, y_pred_proba)
    
    #CM
    cm = confusion_matrix(y_test, y_pred)
    disp = ConfusionMatrixDisplay(confusion_matrix=cm)
    disp.plot(cmap=plt.cm.Blues)
    plt.title(f'{name} Confusion Matrix')
    plt.show()